/*  NOTE: Calculating rem units:

    1rem        = Root element's font size

    Let 16px be the browser's default font size.

    1rem/16px   = .0625
    <px>*.0625 to get rem count
    <rem>/.0625 to get px count
*/

html {
    margin: 0 auto;
    max-width: 60rem;
}

body {
    margin: 0px;
    padding: 2rem;
    background: #eee;
    color: #000;
    line-height: 1.5;
}

div#footer {
    margin-top: 1rem;
    font-style: italic;
    font-weight: 300;
    text-align: right;
    opacity: .5;
    border-top: .125rem dashed rgba(0, 0, 0, .25);
}

div#header > h1 {
    border-bottom: .25rem dashed #b3b3b3;
    color: #ff336d;
    font-family: monospace;
    margin-top: 0px;
}

a:link {
    font-weight: 600;
    color: #ff336d;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    text-decoration-thickness: .1250rem;
}

a:active,
a:visited:active {
    color: #01a022;
}

a:visited {
    color: #9d03bd;
}

div#content img {
    max-width: 100%;
}

div#content pre {
    background: #2f343f;
    color: #fff;
    border: .25rem solid #ff336d;
    padding: 1rem;
    border-left: 0px;
    border-right: 0px;
}

div#toc > div#toctitle {
    font-weight: bold;
    font-size: 1.6875rem; /* 27px */
}

/* i'm evil */
div#toc ul {
    list-style: decimal;
}

li > p {
    padding: 0px;
    margin: 0px;
}

dd > p {
    margin: 0px;
}

dd > p,
dd > *:last-child {
    margin-bottom: 1rem;
}

div.ulist > div.title,
div.olist > div.title,
div.dlist > div.title {
    border-bottom: .1250rem dashed #b3b3b3;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
}

blockquote {
    border-left: .1250rem solid #b3b3b3;
    margin: 1rem 2rem;
    padding-left: 1rem;
}

@media screen and (max-width: 37.5rem) {
    body {
        padding: 1rem;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #2f343f;
        color: #fff;
    }

    a:visited {
        color: #d475e8;
    }

    a:active,
    a:visited:active {
        color: #01a022;
    }

    blockquote,
    div.ulist > div.title,
    div.olist > div.title,
    div.dlist > div.title,
    div#content pre,
    div#header > h1,
    div#footer {
        border-color: #a0a0a0;
    }
}
