html {
    margin: 0 auto;
    max-width: 960px;
}

body {
    padding: 16px;
    font-size: 18px;
    font-family: serif;
    background: #eee;
    color: #000;
    line-height: 1.5;
}

div#footer {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    border-top: 2px solid rgba(0, 0, 0, .25);
}

div#header > h1 {
    border-bottom: 4px dashed #b3b3b3;
    color: #ff336d;
    font-family: monospace;
    margin-top: 0px;
}

a:link {
    font-weight: 600;
    color: #ff336d;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:active, a:visited:active {
    color: #01a022;
}

a:visited {
    color: #9d03bd;
}

div#content img {
    max-width: 100%;
}

div#content pre {
    background: #2f343f;
    color: #fff;
    border: 4px solid #ff336d;
    padding: 16px;
    border-left: 0px;
    border-right: 0px;
    font-size: 14px;
}

div#toc > div#toctitle {
    font-weight: bold;
    font-size: 27px;
}

/* i'm evil */
div#toc ul {
    list-style: decimal;
}

li > p,
dd > p {
    padding: 0px;
    margin: 0px;
}

div.ulist > div.title,
div.olist > div.title,
div.dlist > div.title {
    border-bottom: 2px dashed #b3b3b3;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

blockquote {
    border-left: 2px solid #b3b3b3;
    margin: 16px 32px;
    padding-left: 16px;
}
